.languageButton::before
{
    content:"Chinese";
}
.indexBigTitleF::before
{
    font-family: GenJyuuGothic;
    content:"Taiwan";
}
.indexBigTitleM::before
{
    font-family: GenJyuuGothic;
    content:"Aborigines";
}
.indexBigTitleB::before
{
    font-family: GenJyuuGothic;
    content:"Illustrated";
}
.indexBigContext::before
{
    font-family: rttf;
    content:"The Taiwanese aborigines workship with Hundred-Pacer.";
    white-space: pre;
}
.indexBigButton::before
{
    font-family: rttf;
    content:"Start";
}
.indexTitle::before
{
    content:"Paiwan";
}
.indexTitleFood::before
{
    content:"Food";
}
.indexContextFood::before
{
    content:"Multicultural diet of Paiwan,also include many delicacy.From antiquity to modernity always be deeply loved by the Paiwan.Puts even more food cluture into perspective,including food material and food preparation.Understanding Paiwan special food cluture.";
}
.indexTitleApparel::before
{
    content:"Apparel";
}
.indexContextApparel::before
{
    content:"In elegant attire.A single needle or a piece of thread embroider glass beads and coloured a lique work.Let us appreciate Paiwan glorious clothes and ornaments,epiphany inside meaning.";
}
.indexTitleLanguage::before
{
    content:" Language";
}
.indexContextLanguage::before
{
    content:"Speech input Paiwan's language,through translation features translate into Chinese.Help peopleto learn about Paiwan's beautiful language.";
}
.indexTitleLocation::before
{
    content:"Tribe";
}
.indexContextLocation::before
{
    content:"Find the location of Paiwan tribe,and use illustrations to find out where Paiwan tribes are located in Taiwan.";
}
.indexTitleCreation::before
{
    content:"Artware";
}
.indexContextCreation::before
{
    content:"The Paiwan craft shows their uniqueness in creativity and self-esteem. From their creation can discover the beauty of the Paiwan and their delicate heart.";
}

.indexAuboutTitle::before
{
    font-family: GenJyuuGothic;
    content:"About us";
}
.indexAuboutContext1::before
{
    font-family: rttf;
    content:" It is founded by junior students of Feng Chia University.";
}
.indexAuboutContext2::before
{
    font-family: rttf;
    content:"The purpose is to make it easier for foreign travelers to understand the Paiwan apperal, food, culture and artware , and can also  find the Paiwan tribe where is closest to you.";
}

.indexContectTitle::before
{
    font-family: GenJyuuGothic;
    content:"Contact us";
}
.indexContectContext1::before
{
    font-family: rttf;
    content:"If there is any problem in use website, or have any comments, please contact us!";
}
.indexContectContext2::before
{
    font-family: rttf;
    content:"Let us provide you with better website.";
}
.indexContectEmail::before
{
    font-family: GenJyuuGothic;
    content:"email";
}
.indexContectPhone::before
{
    font-family: GenJyuuGothic;
    content:"cellphone";
}
.indexContectAddr::before
{
    font-family: GenJyuuGothic;
    content:"address";
}

.foodBigTitleF::before
{
    font-family: GenJyuuGothic;
    content:"Paiwan";
}
.foodBigTitleB::before
{
    font-family: GenJyuuGothic;
    content:"Food";
}
.foodBigContext::before
{
    font-family: rttf;
    content:"The livelihood of Paiwan tribes is mainly cultivated by shifting cultivation, hunting, raising and fishing. The diversity of ingredients, so that they have more food to enjoy it.";

}
.foodTitle1::before
{
    font-family: GenJyuuGothic;
    content:"Feature of food";
}
.foodContext1::before
{
    content:"Paiwan staple food of daily life are small rice, millet gruel, rice balls, rice, etc.,and the non-staple food wild porridge, roasted taro, sweet potato, etc.,also produce similar snacks glutinous rice cake and millet cake.In the choice of meat, mainly to venison, mutton and pork mountain-based, supplemented by mountain brook fish, shrimp and crabs.Paiwan condiments more simple, salt, ginger, pepper, oil and honey and so on.";
}
.foodTitle2::before
{
    font-family: GenJyuuGothic;
    content:"Kinper";
}
.foodContext2::before
{
    font-family: rttf;
    content:"Kinper is one of the Paiwan delicacies.Paiwan main crop is millet, many traditional delicacies are made of millet.Kinper is made into mochi-shaped rice with millet,and pork is a stuffing.It is a traditional dowry for the Paiwan and Rukai weddings. It even takes one meter in length.";
}
.foodTitle3::before
{
    font-family: GenJyuuGothic;
    content:"Cinavu";
}
.foodContext3::before
{
    font-family: rttf;
    content:"Cinavu is a traditional dish of the Rukai and Paiwan ethnic groups in Paiwan,the food wrapped in leaves.In the tribal traditional food culture,it is representative, usually in the ceremonies, festivals and other important activities,they will be together to produce and share food.If the tribe has wedding, they will kill pigs,wrap the pork with the formic acid paddy leaf, taro powder, and then boiled food for the tribe to eat, to share their happy.There is the meaning of blessing, it can be said that the unique bride cake of aborigine.When there is no pork, substitute other ingredients such as meat, vegetables and fruits.";
}
.foodTitle4::before
{
    font-family: GenJyuuGothic;
    content:"Kavava";
}
.foodContext4::before
{
    font-family: rttf;
    content:"Millet wine, Paiwan lanluage is  kavava, a traditional alcoholic beverage common to Taiwanese aborigines, is often used on various  festival to represent the message of good harvest.Taiwanese aborigines only Rukai and Paiwan with Formosa Lambsquarters to ferment .First, millet beaten into powder and then adding yeast, use banana leaves wrapped them and steamed, and then into the urn, to be 3 To 4 months to ferment millet wine.Before Paiwan drink millet, they stamp their right leg  first, represents they respect mountain god.";
}
.foodTitle5::before
{
    font-family: GenJyuuGothic;
    content:"Watsi";
}
.foodContext5::before
{
    font-family: rttf;
    content:"The slate house is a traditional building of the Rukai and Paiwan clans, which has the characteristics of warm winter and cool summer, due to the slate have wram effect.Aboriginal often heat the slate, after hunting pigs, deer or goats,deal with meat, add salt, cut into pieces, and cook on the scaff Slate roasted to cooked, quite a special flavor.";

}

.apparelBigTitleF::before
{
    font-family: GenJyuuGothic;
    content:"Paiwan";
}
.apparelBigTitleB::before
{
    font-family: GenJyuuGothic;
    content:"Apperal";
}
.apparelBigContext::before
{
    font-family: rttf;
    content:"Paiwan is a distinct class system.Paiwan grouped with the class system of chiefs, aristocrats, warriors and civilians. Aristocratic privileges are very clear in the culture of apparel. Only the higher class can enjoy the privileges of using certain ornamentation, materials and accessories";

}
.apparelSection1Title::before
{
    font-family: GenJyuuGothic;
    content:"Cloth feature";

}
.apparelSection1Context::before
{
    content:"The type between  costumes and splendid clothes of  Paiwan is basically the same, the difference is embroidery and knitting,when dressing splendid clothes,wear  a coat ,leggings, robes , hand cover, foot cover and so on embroidered with various decorations, pants were made of  red, yellow and green colors.Traditional costumes are used in celebrations, wedding ceremonies, wedding dresses, and there is explict difference between aristocratic and civilians.The traditional style of traditional costumes are embroidered with beads, about one or two years to complete, so it is  heavier, and most of the modern cross stitch to replace,so the completion time is short, and  lightweight.Only the aristocracy can wear leopard vests at festivals or major conferences.In addition, clothing is also related to religious beliefs or customs. Paiwan costumes among Taiwanese aborigines can be regarded as the most magnificent.";
}
.apparelSection2Title::before
{
    font-family: GenJyuuGothic;
    content:"Festival headdress";
}
.apparelSection2Context::before
{
    content:"Paiwan dress, while women have corolla, headdress, earrings, necklaces, glass bead necklace, beads wrist ring, long gown, skirts, belts, leggings, shoulder strap, etc.Daily wear, women wearing headscarves, robes, waist skirts, leggings, gloves, mesh belt, leather raincoats, cloth bags and so on.Female head wrapped around a headdress, forehead dotted with plant leaves, the upper part of the body wearing long sleeves, the lower part of the body covered one or two single-piece dress, leg and then wrapped in a pair of  banket cloth.";
}
.apparelSection3Title::before
{
    font-family: GenJyuuGothic;
    content:"Paiwan hand tattoos";
}
.apparelSection3Context::before
{
    content:"In Paiwan,  hand tattoos and tattoos are called 'iveci'e; Hand tattoos are girls and tattoos are boys. For the traditional PaiWan tribe, the girls who are capable of hand tattooing are absolutely descendants of aristocrats or are honored civilians.This girl must be able to weave, can embroidery, can handle a variety of housework, but also good agricultural work. Such a wonderful girl, have the qualifications in hand, stab on such a beautiful pattern.As a result, Pinaru Cau Cau is an ancestor, symbolizing multiple descendants; Pinaru CaCagal, symbolic dexterity; and Pinaru Laliga, a symbol of the ability to support children. The hundred pace snakes pattern, a symbol of the noble girl's life experience. In addition, Sun Jiang Wanhua vuvu (Paiwan language, referring to grandchildren) of the sun pattern, it is the head family dedicated hand pattern, a symbol of the son of the sun head myth, on behalf of the Paiwan clan leader has Tribal mountains, rivers, and houses.";
}

.apparelSection4Title::before
{
    font-family: GenJyuuGothic;
    content:"Female clothing";
}
.apparelSection4Context::before
{
    content:"Female clothing, usually wearing a headdress, jacket (later influenced by the hans long skirt cardigan, narrow sleeves.)Waist skirts, leggings, gloves.Dress and uniforms in the same form, but there are embroidery and woven, such as flower headdress, embroidered long clothing, leggings, embroidered robes and hand, foot kit.The woman wore a right-length crewneck long-sleeved dress, wearing one or two pieces of monolithic dress with a pair of leggings fastened to the lower leg.Paiwan women wearing the right mid-length long-sleeved long-sleeved long-sleeved dress, is modeled on the type of the hans women's pullovers.";
}

/*部落*/
.locationBigTitleF::before
{
    font-family: GenJyuuGothic;
    content:"排灣族";
}
.locationBigTitleB::before
{
    font-family: GenJyuuGothic;
    content:" 分布地點";
}
.locationTitle1::before
{
    font-family: GenJyuuGothic;
    content:"部落分布";
}
.locationContext1::before
{
    font-family: rttf;
    content:"排灣族以台灣南部為活動區域，北起大武山地，南達恆春，西自隘寮，東到太麻里以南海岸。分為 Raval 亞族和 vutsul 亞族；vutsul 群又分為 paumaumaq 群（北排灣族）、chaoboobol 群和 parilario 群（南排灣族）、paqaroqaro 群（東部排灣）。";
}
.locationContext2::before
{
    font-family: rttf;
    content:"依據現行的行政區域劃分，排灣族分布在屏東和台東的 12 個鄉和台東市一個里，分別是：屏東縣的三地門、瑪家、泰武、來義、春日、獅子、牡丹和滿州八個鄉，台東縣的金峰、達仁、大武、太麻里四個鄉，以及台東市的新園里，其中以屏東來義鄉分布最多排灣族人。總人口數約八萬七千多人。";
}
.locationContext3::before
{
    font-family: rttf;
    content:"排灣族分為兩大亞族：Raval 和 Butsul 。除了最北方的 Raval 亞族認為祖先發源於大武山山脈的大母母山峰之外，其他各部落大都將大武山 kavulungan 視為文化的發祥地。後來排灣族人逐漸從北大武山往南遷徙，有的則繼續南遷至台灣的最南端，由於地域上的不同，在文化與生活習性上也呈現不同面貌。";
}
.locationContext4::before
{
    font-family: rttf;
    content:"Raval 亞族因三面比鄰霧台鄉的魯凱族，多與魯凱族通婚，文化、風俗、習慣皆深受魯凱族的影響；繼承制度與魯凱族相同，採長男繼承制，有別於 Butsul 不分男女的長嗣繼承。排灣族與魯凱族的服飾花紋和頭飾都很相似，使得外人常把兩族人混為一談。 Butsul 亞族佔排灣族的多數，大致可分為東西南北四個區域性群體。";
}

/* Craft */
.craftBigTitleF::before
{
    font-family: GenJyuuGothic;
    content:"Paiwan";
}
.craftBigTitleB::before
{
    font-family: GenJyuuGothic;
    content:"";
}
.craftBigContext::before
{
    font-family: rttf;
    content:"排灣族是個階級分明的族群，擁有頭目、貴族、勇士、平民的階級制度，\A貴族特權在衣飾文化上的表現非常鮮明，只有階級較高者才能享有使用某些紋飾、材質與飾品的特權";

}
.craftSection1Title::before
{
    font-family: GenJyuuGothic;
    content:"Paiwan Three Treasures";

}
.craftSection1Context::before
{
    font-family: rttf;
    content:"Glass beads, urn and bronze knives are all known as Paiwan Three Treasures. For  the Paiwan, these three things represent one's social class, status and wealth. In the past, a glass bead could marry a girl back home, which represented the importance of Paiwan Three Treasures in the Paiwan traditional culture.";
 
}
.craftSection2Title::before
{
    font-family: GenJyuuGothic;
    content:"排灣琉璃珠";

}
.craftSection2Context::before
{
    font-family: rttf;
    content:"琉璃珠的來源與製法已不可考，流傳世代的古琉璃珠是排灣文化中珍貴的寶藏。這些琉璃珠外表不盡相同，有的色彩繽紛，有的溫柔樸實，而這每一顆琉璃珠裡都蘊含了一個美麗傳說。排灣族人用琉璃珠記載祖先奮鬥的歷史，與天地共生的智慧，和每一段浪漫淒美的愛情故事，還有祖先的期盼和祝福。";

}
.craftSection3Title::before
{
    font-family: GenJyuuGothic;
    content:"排灣陶壺";

}
.craftSection3Context::before
{
    font-family: rttf;
    content:"通常陶壺為頭目貴族所珍藏，數量的多寡與好壞，象徵頭目家族的財富與地位。在排灣族傳統社會裡僅僅只有貴族才可擁有陶壺，但隨著時代的進步，現今的陶壺以非貴族的專利了。陶壺依功能可分為：粹祭祀用的祭壺或古陶壺，作為聘禮並浮貼或陰刻等紋樣的古陶壺，釀酒用的陶壺，可放置糧食、種子、醃肉、盛水用的陶壺前二類價值相當高，因而以「dredredan」尊稱作為祭祀或者是聘禮用的陶壺。陶壺與甕的地位不同，甕僅是用來裝成物品的器具，並無其他意義。    ";

}

.craftSection4Title::before
{
    font-family: GenJyuuGothic;
    content:"排灣青銅刀";

}
.craftSection4Context::before
{
    font-family: rttf;
    content:"青銅刀，排灣語稱之為「 tikuzan ni tagaraus 」，為排灣族三寶之一。青銅刀一般分為大型和小型，大型雙刃的青銅刀，排灣族語意為「神的拐杖」，意為神的器物。大型的青銅刀刃長約30至45公分，平日供放在部落的祭祀小屋內。小型的單刃青銅刀刃長約15公分，是巫師占卜祭禱作法時的法器之一。";

}

.craftSection5Title::before
{
    font-family: GenJyuuGothic;
    content:"排灣琉璃珠杯";

}
.craftSection5Context::before
{
    font-family: rttf;
    content:"創意延伸排灣族文化的共飲連杯概念，轉化成時尚個性噴砂玻璃杯，可以任意挑選組合喜歡的部落圖騰，而且「單口杯」是只有頭目才能使用的喔！";

}
