.languageButton::before
{
    content:"Chinese";
}
.indexBigTitleF::before
{
    font-family: GenJyuuGothic;
    content:"Taiwan";
}
.indexBigTitleM::before
{
    font-family: GenJyuuGothic;
    content:"Aborigines";
}
.indexBigTitleB::before
{
    font-family: GenJyuuGothic;
    content:"Illustrated";
}
.indexBigContext::before
{
    font-family: rttf;
    content:"The Taiwanese aborigines workship with Hundred-Pacer.";
    white-space: pre;
}
.indexBigButton::before
{
    font-family: rttf;
    content:"Start";
}
.indexTitle::before
{
    content:"Paiwan";
}
.indexTitleFood::before
{
    content:"Food";
}
.indexContextFood::before
{
    content:"Multicultural diet of Paiwan,also include many delicacy.From antiquity to modernity always be deeply loved by the Paiwan.Puts even more food cluture into perspective,including food material and food preparation.Understanding Paiwan special food cluture.";
}
.indexTitleApparel::before
{
    content:"Apparel";
}
.indexContextApparel::before
{
    content:"In elegant attire.A single needle or a piece of thread embroider glass beads and coloured a lique work.Let us appreciate Paiwan glorious clothes and ornaments,epiphany inside meaning.";
}
.indexTitleLanguage::before
{
    content:" Language";
}
.indexContextLanguage::before
{
    content:"Speech input Paiwan's language,through translation features translate into Chinese.Help peopleto learn about Paiwan's beautiful language.";
}
.indexTitleLocation::before
{
    content:"Tribe";
}
.indexContextLocation::before
{
    content:"Find the location of Paiwan tribe,and use illustrations to find out where Paiwan tribes are located in Taiwan.";
}
.indexTitleCreation::before
{
    content:"Artware";
}
.indexContextCreation::before
{
    content:"The Paiwan craft shows their uniqueness in creativity and self-esteem. From their creation can discover the beauty of the Paiwan and their delicate heart.";
}

.indexAuboutTitle::before
{
    font-family: GenJyuuGothic;
    content:"About us";
}
.indexAuboutContext1::before
{
    font-family: rttf;
    content:" It is founded by junior students of Feng Chia University.";
}
.indexAuboutContext2::before
{
    font-family: rttf;
    content:"The purpose is to make it easier for foreign travelers to understand the Paiwan apperal, food, culture and artware , and can also  find the Paiwan tribe where is closest to you.";
}

.indexContectTitle::before
{
    font-family: GenJyuuGothic;
    content:"Contact us";
}
.indexContectContext1::before
{
    font-family: rttf;
    content:"If there is any problem in use website, or have any comments, please contact us!";
}
.indexContectContext2::before
{
    font-family: rttf;
    content:"Let us provide you with better website.";
}
.indexContectEmail::before
{
    font-family: GenJyuuGothic;
    content:"email";
}
.indexContectPhone::before
{
    font-family: GenJyuuGothic;
    content:"cellphone";
}
.indexContectAddr::before
{
    font-family: GenJyuuGothic;
    content:"address";
}

.foodBigTitleF::before
{
    font-family: GenJyuuGothic;
    content:"Paiwan";
}
.foodBigTitleB::before
{
    font-family: GenJyuuGothic;
    content:"Food";
}
.foodBigContext::before
{
    font-family: rttf;
    content:"The livelihood of Paiwan tribes is mainly cultivated by shifting cultivation, hunting, raising and fishing. The diversity of ingredients, so that they have more food to enjoy it.";

}
.foodTitle1::before
{
    font-family: GenJyuuGothic;
    content:"Feature of food";
}
.foodContext1::before
{
    content:"Paiwan staple food of daily life are small rice, millet gruel, rice balls, rice, etc.,and the non-staple food wild porridge, roasted taro, sweet potato, etc.,also produce similar snacks glutinous rice cake and millet cake.In the choice of meat, mainly to venison, mutton and pork mountain-based, supplemented by mountain brook fish, shrimp and crabs.Paiwan condiments more simple, salt, ginger, pepper, oil and honey and so on.";
}
.foodTitle2::before
{
    font-family: GenJyuuGothic;
    content:"Kinper";
}
.foodContext2::before
{
    font-family: rttf;
    content:"Kinper is one of the Paiwan delicacies.Paiwan main crop is millet, many traditional delicacies are made of millet.Kinper is made into mochi-shaped rice with millet,and pork is a stuffing.It is a traditional dowry for the Paiwan and Rukai weddings. It even takes one meter in length.";
}
.foodTitle3::before
{
    font-family: GenJyuuGothic;
    content:"Cinavu";
}
.foodContext3::before
{
    font-family: rttf;
    content:"Cinavu is a traditional dish of the Rukai and Paiwan ethnic groups in Paiwan,the food wrapped in leaves.In the tribal traditional food culture,it is representative, usually in the ceremonies, festivals and other important activities,they will be together to produce and share food.If the tribe has wedding, they will kill pigs,wrap the pork with the formic acid paddy leaf, taro powder, and then boiled food for the tribe to eat, to share their happy.There is the meaning of blessing, it can be said that the unique bride cake of aborigine.When there is no pork, substitute other ingredients such as meat, vegetables and fruits.";
}
.foodTitle4::before
{
    font-family: GenJyuuGothic;
    content:"Kavava";
}
.foodContext4::before
{
    font-family: rttf;
    content:"Millet wine, Paiwan lanluage is  kavava, a traditional alcoholic beverage common to Taiwanese aborigines, is often used on various  festival to represent the message of good harvest.Taiwanese aborigines only Rukai and Paiwan with Formosa Lambsquarters to ferment .First, millet beaten into powder and then adding yeast, use banana leaves wrapped them and steamed, and then into the urn, to be 3 To 4 months to ferment millet wine.Before Paiwan drink millet, they stamp their right leg  first, represents they respect mountain god.";
}
.foodTitle5::before
{
    font-family: GenJyuuGothic;
    content:"Watsi";
}
.foodContext5::before
{
    font-family: rttf;
    content:"The slate house is a traditional building of the Rukai and Paiwan clans, which has the characteristics of warm winter and cool summer, due to the slate have wram effect.Aboriginal often heat the slate, after hunting pigs, deer or goats,deal with meat, add salt, cut into pieces, and cook on the scaff Slate roasted to cooked, quite a special flavor.";

}

.apparelBigTitleF::before
{
    font-family: GenJyuuGothic;
    content:"Paiwan";
}
.apparelBigTitleB::before
{
    font-family: GenJyuuGothic;
    content:"Apperal";
}
.apparelBigContext::before
{
    font-family: rttf;
    content:"Paiwan is a distinct class system.Paiwan grouped with the class system of chiefs, aristocrats, warriors and civilians. Aristocratic privileges are very clear in the culture of apparel. Only the higher class can enjoy the privileges of using certain ornamentation, materials and accessories";

}
.apparelSection1Title::before
{
    font-family: GenJyuuGothic;
    content:"Cloth feature";

}
.apparelSection1Context::before
{
    content:"The type between  costumes and splendid clothes of  Paiwan is basically the same, the difference is embroidery and knitting,when dressing splendid clothes,wear  a coat ,leggings, robes , hand cover, foot cover and so on embroidered with various decorations, pants were made of  red, yellow and green colors.Traditional costumes are used in celebrations, wedding ceremonies, wedding dresses, and there is explict difference between aristocratic and civilians.The traditional style of traditional costumes are embroidered with beads, about one or two years to complete, so it is  heavier, and most of the modern cross stitch to replace,so the completion time is short, and  lightweight.Only the aristocracy can wear leopard vests at festivals or major conferences.In addition, clothing is also related to religious beliefs or customs. Paiwan costumes among Taiwanese aborigines can be regarded as the most magnificent.";
}
.apparelSection2Title::before
{
    font-family: GenJyuuGothic;
    content:"Festival headdress";
}
.apparelSection2Context::before
{
    content:"Paiwan dress, while women have corolla, headdress, earrings, necklaces, glass bead necklace, beads wrist ring, long gown, skirts, belts, leggings, shoulder strap, etc.Daily wear, women wearing headscarves, robes, waist skirts, leggings, gloves, mesh belt, leather raincoats, cloth bags and so on.Female head wrapped around a headdress, forehead dotted with plant leaves, the upper part of the body wearing long sleeves, the lower part of the body covered one or two single-piece dress, leg and then wrapped in a pair of  banket cloth.";
}
.apparelSection3Title::before
{
    font-family: GenJyuuGothic;
    content:"Paiwan hand tattoos";
}
.apparelSection3Context::before
{
    content:"In Paiwan,  hand tattoos and tattoos are called 'iveci'e; Hand tattoos are girls and tattoos are boys. For the traditional PaiWan tribe, the girls who are capable of hand tattooing are absolutely descendants of aristocrats or are honored civilians.This girl must be able to weave, can embroidery, can handle a variety of housework, but also good agricultural work. Such a wonderful girl, have the qualifications in hand, stab on such a beautiful pattern.As a result, Pinaru Cau Cau is an ancestor, symbolizing multiple descendants; Pinaru CaCagal, symbolic dexterity; and Pinaru Laliga, a symbol of the ability to support children. The hundred pace snakes pattern, a symbol of the noble girl's life experience. In addition, Sun Jiang Wanhua vuvu (Paiwan language, referring to grandchildren) of the sun pattern, it is the head family dedicated hand pattern, a symbol of the son of the sun head myth, on behalf of the Paiwan clan leader has Tribal mountains, rivers, and houses.";
}

.apparelSection4Title::before
{
    font-family: GenJyuuGothic;
    content:"Female clothing";
}
.apparelSection4Context::before
{
    content:"Female clothing, usually wearing a headdress, jacket (later influenced by the hans long skirt cardigan, narrow sleeves.)Waist skirts, leggings, gloves.Dress and uniforms in the same form, but there are embroidery and woven, such as flower headdress, embroidered long clothing, leggings, embroidered robes and hand, foot kit.The woman wore a right-length crewneck long-sleeved dress, wearing one or two pieces of monolithic dress with a pair of leggings fastened to the lower leg.Paiwan women wearing the right mid-length long-sleeved long-sleeved long-sleeved dress, is modeled on the type of the hans women's pullovers.";
}

/*部落*/
.locationBigTitleF::before
{
    font-family: GenJyuuGothic;
    content:"Paiwan";
}
.locationBigTitleB::before
{
    font-family: GenJyuuGothic;
    content:"Distribute location";
}
.locationTitle1::before
{
    font-family: GenJyuuGothic;
    content:"Distribute tribe";
}
.locationContext1::before
{
    font-family: rttf;
    content:"Paiwan‘s area of activity is southern Taiwan.It runs from Dawu Mountain in the north, reaches Hengchun in the south, runs from Aitiaoint the west and reaches the south coast from Taimaliin  in the east.Paiwna divided into Raval subtribes and Vutsul subtribes; Vutsul subtribes is divided into paumaumaq group (North Paiwan), chaoboobol group and parilario group(South Paiwan), paqaroqaro group (East Paiwan).";
}
.locationContext2::before
{
    font-family: rttf;
    content:"According to the current administrative divisions, Paiwan are distributed in 12 townships in Pingtung and Taitung and one village in Taitung City, They are : Sandimen, Majia, Taiwu, Laiyi, Chunri , Shizi, Mudan  and Manzhou eight townships in Pingtung County,Jinfeng, Daren , Dawu and Taimali four townships in Taitung County, as well as Sinyuan  village  in Taitung City,of which Laiyi  townships in Pingtung  has the most Paiwan people. The total population of about 87,000 people.";
}
.locationContext3::before
{
    font-family: rttf;
    content:"Paiwan is divided into two major subtribes : Raval and Butsul. In addition to the northernmost Raval subfamily that ancestors originated in the mountain mother of DaWushan mountain peaks, most of the other tribes will be DaWushan kavulungan as the birthplace of culture. Later, the Paiwan migrated southward from the North DaWushan Mountain, while others continued to move southward to the southernmost tip of Taiwan. Due to geographical differences, they also showed different appearances in culture and living habits.";
}
.locationContext4::before
{
    font-family: rttf;
    content:"The Raval subtribe is more likely to be influenced by the Rukai because of its intermarriage with the Rukai on three sides of the Raval in Wutai Township. The system of succession is the same as that of the Rukai.They takes primogeniture, it is different from  the heirs inherit from both men or women in Butsul. Paiwan and Rukai costumes and headdresses are very similar, making outsiders often confuse them. The Butsul subtribe occupies the majority of Paiwan and can be roughly divided into four regional groups including East, West, South and North.";
}
/* Craft */
.craftBigTitleF::before
{
    font-family: GenJyuuGothic;
    content:"Paiwan";
}
.craftBigTitleB::before
{
    font-family: GenJyuuGothic;
    content:"Artware";
}
.craftBigContext::before
{
    font-family: rttf;
    content:"Paiwan is a distinct class system.Paiwan grouped with the class system of chiefs, aristocrats, warriors and civilians. Aristocratic privileges are very clear in the culture of apparel. Only the higher class can enjoy the privileges of using certain ornamentation, materials and accessories";

}
.craftSection1Title::before
{
    font-family: GenJyuuGothic;
    content:"Paiwan Three Treasures";

}
.craftSection1Context::before
{
    font-family: rttf;
    content:"Glass beads, urn and bronze knives are all known as Paiwan Three Treasures. For  the Paiwan, these three things represent one's social class, status and wealth. In the past, a glass bead could marry a girl back home, which represented the importance of Paiwan Three Treasures in the Paiwan traditional culture.";
 
}
.craftSection2Title::before
{
    font-family: GenJyuuGothic;
    content:"Paiwan glass beads";

}
.craftSection2Context::before
{
    font-family: rttf;
    content:"The origin and method of glass beads have been untraceable , the ancient glass beads handed down is a precious treasure in Paiwan culture.These glass beads are not the same appearance, and some colorful, and some gentle and simple, and each of which contains a glass beads are beautiful legends.People of Paiwan use glass beads to record the history of ancestral struggle, the wisdom of symbiosis with heaven and earth, and the romance and poignant love story of each period, as well as the hope and blessing of ancestors.";

}
.craftSection3Title::before
{
    font-family: GenJyuuGothic;
    content:"Paiwan ceramic pot";

}
.craftSection3Context::before
{
    font-family: rttf;
    content:"Ceramic pot usually collected by chiefs, the number of many and less,is a symbol of the chief family's wealth and status.In the traditional Paiwan tribal society, only aristocrats can own ceramic pot. However, with the progress of era, today's ceramic pot are non-aristocratic.According to the function about ceramic pot can be divided into: Sacrificial Ritual pots or ancient pots, as the ceremony and floating paste or engraving such as the pattern of the ancient clay pots, wine pots used, you can place food, seeds, Watsi, water The first two categories of ceramic pot value are quite high, therefore known as \"dredredan\" as the sacrificial or ceramic pot.Ceramic pot and urn status is different, urn is used to pack items of equipment, and no other significance.";

}

.craftSection4Title::before
{
    font-family: GenJyuuGothic;
    content:"Paiwan bronze knife";

}
.craftSection4Context::before
{
    font-family: rttf;
    content:"Bronze knife, Paiwan language called \"tikuzan ni tagaraus\", one of Paiwan three treasure.Bronze knives are generally  falls into two categories large and small, large double-edged bronze knives, Paiwan language means \"God's cane,\" meaning God's artifacts.Large bronze blade about 30 to 45 cm, on weekdays for the tribal sacrificial hut. A small single-edged bronze blade is about 15 cm long and is one of the talismans of the wizarding divination.";

}

.craftSection5Title::before
{
    font-family: GenJyuuGothic;
    content:"Paiwan glass beads cup";

}
.craftSection5Context::before
{
    font-family: rttf;
    content:"The idea of extending the concept of Paiwan cluture of drink with ragal  is transformed into a sandblasted glass of fashionable personality.And can choose any combination of favorite tribal totem, and \"single cup\" is only the chief can use.";

}


/*語言*/
 .languageBigTitleF::before
 {
     font-family: GenJyuuGothic;
     content:"Paiwan";
 }
 .languageBigTitleB::before
 {
    font-family: GenJyuuGothic;
    content:" Language";
 }
 .languageBigContext::before
 {
     font-family: rttf;
	 content:"The linguistic classification belongs to the Paiwan language group of the Austronesian language family. It is also the national language of Taiwan and written in Latin. It is the closest lingua franca to the original Austronesian language in the entire South Island language family.";

 }
 .languageTitle1::before
 {
     font-family: rttf;
     content:"Paiwan language history";
 }
 .languageContext1::before
 {
     font-family: rttf;
	 content:"Paiwan language is one of the oldest and most versatile languages in the Austronesian language family. It has a long history and was one of the most popular languages in southern Taiwan. In ancient times, it was not only used by Paiwan people, but also many other Sirayan and Rukai , Makadao people, people in the southern part of the Pingtung area, such as Han Chinese, can communicate in the Gulf language.";

     
 }
 .languageTitle2::before
 {
     font-family: GenJyuuGothic;
	 content:"Paiwan language distribution";
 }
 .languageContext2::before
 {
     font-family: rttf;
     content:"Taiwanese Austronesian Language Map Before the Hans come to Taiwan (Blust, 1999). The Taiwanese Lan Yu Island (dark red) is said to be the area where Malay-Polynesian dialect of Bataan language is spoken.Paiwan language can be divided into pinakaiyatjaladj and kakaian according to the use of vocabulary. Before and during the Japanese era, most of the words used were classical Paiwan, whereas classical Paiwan was Only seen in the language or ancient rhyme, not often used in everyday conversation.Paiwan Bay Language is now more commonly used, the structure of the words of the sentence is relatively simple, that is literally you can at a glance.";
 }
 
 .languageTitle3::before
 {
     font-family: GenJyuuGothic;
     content:"Voice System and Structure";
 }
 .languageContext3::before
 {
     font-family: rttf;
     content:"Most of the phonemes in Paiwan are marked with the appropriate Unicode symbols. In the formulation of the writing system of the Austronesian language in Taiwan, the phonetic system of the Yuancong consonants is in principle \"phonetic part\" (horizontal), \"post-phonetic method\" (vertical) and then \"voiced\" Set its phoneme of the phoneme architecture. The grammatical classification of Taiwan's southern island language is not the same as that of general terms such as verbs, nouns, adjectives, prepositions and adverbs used in general analysis or other comprehensive terms. For example, there are generally no adverbs in Taiwan's South Island Language. The concept of adverbs is generally presented in verbs, which can be called \"sub verbs\" and vice versa in Russian. Paiwan grammar classification is based on the grammar of the parts of speech, affixes, word structure and classification, comparative analysis of words and other taxonomies to be analyzed.";
 }
 .languageTitle4::before
 {
     font-family: GenJyuuGothic;
     content:"Paiwan language picture book";
 }
 .languageContext4::before
 {
     font-family: rttf;
     content:"Through the combination of modern painting and design style with Aboriginal culture, the picture book storybook will be redrawn. There will be an introduction to Aboriginal tribes and a cultural feast in the picture book, so as to lead everyone in search of life in Taiwan's Taiwan Island. Then we will come To the \"Ethnic Kaleidoscope\" is an Aboriginal culture park where you can see the Aya lines, the Sai Xiaoku's dwarf, the Bunun's eight chorus, the Thao white deer legend, the Tsou The men's assembly hall, the Paiwan class system, the Lehu clout of the Rukai tribe, the Puyan junior rallies, the Ami harvest festival, the Amis flying fish festival, the Kamalan banana weaving, Ascension of the ancestors of the Proletariat, the Rainbow Bridge of the Seqq ethnic group, and the Vulcan Festival of the Thachiaraya family are all the wonderful cultural and living wisdom of our native Taiwan.";
 }
 .languageTitle5::before
 {
     font-family: GenJyuuGothic;
     content:"Paiwan translated bear";
 }
