.indexBigTitleF::before
{
    font-family: GenJyuuGothic;
    content:"Taiwan";
}
.indexBigTitleM::before
{
    font-family: GenJyuuGothic;
    content:"Aborigines";
}
.indexBigTitleB::before
{
    font-family: GenJyuuGothic;
    content:"Illustrated";
}
.indexBigContext::before
{
    font-family: rttf;
    content:"The Taiwanese aborigines workship with Hundred-Pacer.";
    white-space: pre;
}
.indexBigButton::before
{
    font-family: rttf;
    content:"Start";
}
.indexTitle::before
{
    font-family: rttf;
    content:"Paiwan";
}
.indexTitleFood::before
{
    font-family: rttf;
    content:"Food";
}
.indexContextFood::before
{
    font-family: rttf;
    content:"Multicultural diet of Paiwan,also include many delicacy.From antiquity to modernity always be deeply loved by the Paiwan.Puts even more food cluture into perspective,including food material and food preparation.Understanding Paiwan special food cluture.";
}
.indexTitleApparel::before
{
    font-family: rttf;
    content:"Apparel";
}
.indexContextApparel::before
{
    font-family: rttf;
    content:"In elegant attire.A single needle or a piece of thread embroider glass beads and coloured a lique work.Let us appreciate Paiwan glorious clothes and ornaments,epiphany inside meaning.";
}
.indexTitleLanguage::before
{
    font-family: rttf;
    content:" Language";
}
.indexContextLanguage::before
{
    font-family: rttf;
    content:"Speech input Paiwan's language,through translation features translate into Chinese.Help peopleto learn about Paiwan's beautiful language.";
}
.indexTitleLocation::before
{
    font-family: rttf;
    content:"Tribe";
}
.indexContextLocation::before
{
    font-family: rttf;
    content:"Find the location of Paiwan tribe,and use illustrations to find out where Paiwan tribes are located in Taiwan.";
}
.indexTitleCreation::before
{
    font-family: rttf;
    content:"Artware";
}
.indexContextCreation::before
{
    font-family: rttf;
    content:"The Paiwan craft shows their uniqueness in creativity and self-esteem. From their creation can discover the beauty of the Paiwan and their delicate heart.";
}

.indexAuboutTitle::before
{
    font-family: rttf;
    content:"About us";
}
.indexAuboutContext1::before
{
    font-family: rttf;
    content:" It is founded by junior students of Feng Chia University.";
}
.indexAuboutContext2::before
{
    font-family: rttf;
    content:"The purpose is to make it easier for foreign travelers to understand the Paiwan apperal, food, culture and artware , and can also  find the Paiwan tribe where is closest to you.";
}

.indexContectTitle::before
{
    font-family: GenJyuuGothic;
    content:"Contact us";
}
.indexContectContext1::before
{
    font-family: rttf;
    content:"If there is any problem in use website, or have any comments, please contact us!";
}
.indexContectContext2::before
{
    font-family: rttf;
    content:"Let us provide you with better website.";
}
.indexContectEmail::before
{
    font-family: GenJyuuGothic;
    content:"email";
}
.indexContectPhone::before
{
    font-family: GenJyuuGothic;
    content:"cellphone";
}
.indexContectAddr::before
{
    font-family: GenJyuuGothic;
    content:"address";
}

.foodBigTitleF::before
{
    font-family: GenJyuuGothic;
    content:"Paiwan";
}
.foodBigTitleB::before
{
    font-family: GenJyuuGothic;
    content:"Food";
}
.foodBigContext::before
{
    font-family: rttf;
    content:"The livelihood of Paiwan tribes is mainly cultivated by shifting cultivation, hunting, raising and fishing. The diversity of ingredients, so that they have more food to enjoy it.";

}
.foodTitle1::before
{
    font-family: rttf;
    content:"Feature of food";
}
.foodContext1::before
{
    font-family: rttf;
    content:"Paiwan staple food of daily life are small rice, millet gruel, rice balls, rice, etc.,and the non-staple food wild porridge, roasted taro, sweet potato, etc.,also produce similar snacks glutinous rice cake and millet cake.In the choice of meat, mainly to venison, mutton and pork mountain-based, supplemented by mountain brook fish, shrimp and crabs.Paiwan condiments more simple, salt, ginger, pepper, oil and honey and so on.";
}
.foodTitle2::before
{
    font-family: GenJyuuGothic;
    content:"Kinper";
}
.foodContext2::before
{
    font-family: rttf;
    content:"Kinper is one of the Paiwan delicacies.Paiwan main crop is millet, many traditional delicacies are made of millet.Kinper is made into mochi-shaped rice with millet,and pork is a stuffing.It is a traditional dowry for the Paiwan and Rukai weddings. It even takes one meter in length.";
}
.foodTitle3::before
{
    font-family: GenJyuuGothic;
    content:"Cinavu";
}
.foodContext3::before
{
    font-family: rttf;
    content:"Cinavu is a traditional dish of the Rukai and Paiwan ethnic groups in Paiwan,the food wrapped in leaves.In the tribal traditional food culture,it is representative, usually in the ceremonies, festivals and other important activities,they will be together to produce and share food.If the tribe has wedding, they will kill pigs,wrap the pork with the formic acid paddy leaf, taro powder, and then boiled food for the tribe to eat, to share their happy.There is the meaning of blessing, it can be said that the unique bride cake of aborigine.When there is no pork, substitute other ingredients such as meat, vegetables and fruits.";
}
.foodTitle4::before
{
    font-family: GenJyuuGothic;
    content:"Kavava";
}
.foodContext4::before
{
    font-family: rttf;
    content:"Millet wine, Paiwan lanluage is  kavava, a traditional alcoholic beverage common to Taiwanese aborigines, is often used on various  festival to represent the message of good harvest.Taiwanese aborigines only Rukai and Paiwan with Formosa Lambsquarters to ferment .First, millet beaten into powder and then adding yeast, use banana leaves wrapped them and steamed, and then into the urn, to be 3 To 4 months to ferment millet wine.Before Paiwan drink millet, they stamp their right leg  first, represents they respect mountain god.";
}
.foodTitle5::before
{
    font-family: GenJyuuGothic;
    content:"Watsi";
}
.foodContext5::before
{
    font-family: rttf;
    content:"The slate house is a traditional building of the Rukai and Paiwan clans, which has the characteristics of warm winter and cool summer, due to the slate have wram effect.Aboriginal often heat the slate, after hunting pigs, deer or goats,deal with meat, add salt, cut into pieces, and cook on the scaff Slate roasted to cooked, quite a special flavor.";

}

.apparelBigTitleF::before
{
    font-family: GenJyuuGothic;
    content:"Paiwan";
}
.apparelBigTitleB::before
{
    font-family: GenJyuuGothic;
    content:"Apperal";
}
.apparelBigContext::before
{
    font-family: rttf;
    content:"Paiwan is a distinct class system.Paiwan grouped with the class system of chiefs, aristocrats, warriors and civilians. Aristocratic privileges are very clear in the culture of apparel. Only the higher class can enjoy the privileges of using certain ornamentation, materials and accessories";

}
.apparelSection1Title::before
{
    font-family: GenJyuuGothic;
    content:"Cloth feature";

}
.apparelSection1Context::before
{
    font-family: rttf;
    content:"The type between  costumes and splendid clothes of  Paiwan is basically the same, the difference is embroidery and knitting,when dressing splendid clothes,wear  a coat ,leggings, robes , hand cover, foot cover and so on embroidered with various decorations, pants were made of  red, yellow and green colors.Traditional costumes are used in celebrations, wedding ceremonies, wedding dresses, and there is explict difference between aristocratic and civilians.The traditional style of traditional costumes are embroidered with beads, about one or two years to complete, so it is  heavier, and most of the modern cross stitch to replace,so the completion time is short, and  lightweight.Only the aristocracy can wear leopard vests at festivals or major conferences.In addition, clothing is also related to religious beliefs or customs. Paiwan costumes among Taiwanese aborigines can be regarded as the most magnificent.";
 
}
.apparelSection2Title::before
{
    font-family: GenJyuuGothic;
    content:"Festival headdress";

}
.apparelSection2Context::before
{
    font-family: rttf;
    content:"Paiwan dress, while women have corolla, headdress, earrings, necklaces, glass bead necklace, beads wrist ring, long gown, skirts, belts, leggings, shoulder strap, etc.Daily wear, women wearing headscarves, robes, waist skirts, leggings, gloves, mesh belt, leather raincoats, cloth bags and so on.Female head wrapped around a headdress, forehead dotted with plant leaves, the upper part of the body wearing long sleeves, the lower part of the body covered one or two single-piece dress, leg and then wrapped in a pair of  banket cloth.";

}
.apparelSection3Title::before
{
    font-family: GenJyuuGothic;
    content:"Paiwan hand tattoos";
}
.apparelSection3Context::before
{
    font-family: rttf;
    content:"In Paiwan,  hand tattoos and tattoos are called 'iveci'e; Hand tattoos are girls and tattoos are boys. For the traditional PaiWan tribe, the girls who are capable of hand tattooing are absolutely descendants of aristocrats or are honored civilians.This girl must be able to weave, can embroidery, can handle a variety of housework, but also good agricultural work. Such a wonderful girl, have the qualifications in hand, stab on such a beautiful pattern.As a result, Pinaru Cau Cau is an ancestor, symbolizing multiple descendants; Pinaru CaCagal, symbolic dexterity; and Pinaru Laliga, a symbol of the ability to support children. The hundred pace snakes pattern, a symbol of the noble girl's life experience. In addition, Sun Jiang Wanhua vuvu (Paiwan language, referring to grandchildren) of the sun pattern, it is the head family dedicated hand pattern, a symbol of the son of the sun head myth, on behalf of the Paiwan clan leader has Tribal mountains, rivers, and houses.";

}

.apparelSection4Title::before
{
    font-family: GenJyuuGothic;
    content:"Female clothing";

}
.apparelSection4Context::before
{
    font-family: rttf;
    content:"Female clothing, usually wearing a headdress, jacket (later influenced by the hans long skirt cardigan, narrow sleeves.)Waist skirts, leggings, gloves.Dress and uniforms in the same form, but there are embroidery and woven, such as flower headdress, embroidered long clothing, leggings, embroidered robes and hand, foot kit.The woman wore a right-length crewneck long-sleeved dress, wearing one or two pieces of monolithic dress with a pair of leggings fastened to the lower leg.Paiwan women wearing the right mid-length long-sleeved long-sleeved long-sleeved dress, is modeled on the type of the hans women's pullovers.";

}
.languageButton::before
{
    content:"Chinese";
}