.languageButton::before{
    content:"English";
}

/*主頁 大標題*/
.indexBigTitleF::before
{
    font-family: GenJyuuGothic;
    content:"台灣";
}
.indexBigTitleM::before
{
    font-family: GenJyuuGothic;
    content:"原住民";
}
.indexBigTitleB::before
{
    font-family: GenJyuuGothic;
    content:"圖鑑";
}
.indexBigContext::before
{
    font-family: rttf;
    content:"祭奉百步蛇的台灣原住民";
    white-space: pre;
}
.indexBigButton::before
{
    font-family: rttf;
    content:"開始使用";
}
/*主頁 功能*/
.indexTitle::before
{
    font-family: rttf;
    content:"排灣族";
}
.indexTitleFood::before
{
    font-family: rttf;
    content:" 食物";
}
.indexContextFood::before
{
    font-family: rttf;
    content:"排灣族的飲食文化多元，也包含了許多美食，從古至今一直深受族人的喜愛。進一步了解其飲食的特色、原料與製作過程，認識排灣族特有的美味。";
}
.indexTitleApparel::before
{
    font-family: rttf;
    content:" 服飾";
}
.indexContextApparel::before
{
    font-family: rttf;
    content:"引人注目的華麗服飾，一針一線繡上去的琉璃珠、貼布繡線。讓我們欣賞排灣族奪目的服裝與飾品以及領悟其中的意涵。";
}
.indexTitleLanguage::before
{
    font-family: rttf;
    content:" 語言";
}
.indexContextLanguage::before
{
    font-family: rttf;
    content:"語音輸入排灣族語，透過翻譯功能翻譯成中文，讓人方便學習排灣族這個美麗的語言。";
}
.indexTitleLocation::before
{
    font-family: rttf;
    content:" 部落";
}
.indexContextLocation::before
{
    font-family: rttf;
    content:"查詢你要知道的部落所在位置，用圖示去了解排灣族各部落分布於台灣何處。";
}
.indexTitleCreation::before
{
    font-family: rttf;
    content:" 工藝";
}
.indexContextCreation::before
{
    font-family: rttf;
    content:"排灣族的工藝顯現了他們創造力與凸顯自我美感的獨特性。從他們的創作去發現排灣族的美以及所擁有的細膩心。";
}
/*主頁 關於*/
.indexAuboutTitle::before
{
    font-family: GenJyuuGothic;
    content:"關於我們";
}
.indexAuboutContext1::before
{
    font-family: rttf;
    content:"台灣排灣族圖鑑是由逢甲大學三年級的學生所建立。";
}
.indexAuboutContext2::before
{
    font-family: rttf;
    content:"目的是讓外國旅客能夠更簡易明快的了解台灣排灣族的服飾，食物，文化與工藝，並且也能找尋與您最靠近的排灣族部落。";
}
/*主頁 聯絡資訊*/
.indexContectTitle::before
{
    font-family: GenJyuuGothic;
    content:"聯絡我們";
}
.indexContectContext1::before
{
    font-family: rttf;
    content:"如果在網頁使用上有甚麼問題，或者是有甚麼修改意見，歡迎您聯繫我們！";
}
.indexContectContext2::before
{
    font-family: rttf;
    content:"讓我們能提供更優質的網頁給您們。";
}
.indexContectEmail::before
{
    font-family: GenJyuuGothic;
    content:"信箱";
}
.indexContectPhone::before
{
    font-family: GenJyuuGothic;
    content:"電話";
}
.indexContectAddr::before
{
    font-family: GenJyuuGothic;
    content:"地址";
}

/*食物*/
.foodBigTitleF::before
{
    font-family: GenJyuuGothic;
    content:"排灣族";
}
.foodBigTitleB::before
{
    font-family: GenJyuuGothic;
    content:" 食物";
}
.foodBigContext::before
{
    font-family: rttf;
    content:"排灣族的生計以山田燒墾為主，兼事狩獵、畜養、與山溪捕魚。\A食材的多元，使他們有了更多的美食能盡情享受。";
}
.foodTitle1::before
{
    font-family: GenJyuuGothic;
    content:" 飲食特色";
}
.foodContext1::before
{
    font-family: rttf;
    content:"排灣族日常生活的主食有小米飯、小米粥、小米飯糰、米飯等，而副食品則有野菜粥、烘煮芋、烘煮甘藷等，也會製作類似點心類糯米糕及小米糕。而在肉類的選擇上，主要以鹿肉、羊肉及山豬肉為主，輔以山溪魚類、蝦類與蟹類等。排灣族的調味品比較單純，有鹽、香薑、辣椒、脂油與蜂蜜等。";
}
.foodTitle2::before
{
    font-family: GenJyuuGothic;
    content:"金伯樂";
}
.foodContext2::before
{
    font-family: rttf;
    content:"金伯樂是排灣族的美食之一，排灣族以小米為主要農作物，許多傳統美食皆由小米製成。金伯樂以小米打成蘑糬狀，豬肉為餡，是排灣族、魯凱族婚禮的傳統聘禮，大的甚至長達一公尺。";
}
.foodTitle3::before
{
    font-family: GenJyuuGothic;
    content:"祈納福";
}
.foodContext3::before
{
    font-family: rttf;
    content:"「 Cinavu 」 在排灣族語裡祈納福指的是用葉子包著食物，是魯凱族和排灣族的傳統料理，在部落傳統飲食文化中，相當具有代表性，通常是在祭典儀式、喜慶等重要活動時，會一起製作與分享食用，部落若有辦喜事的家族他們會殺豬，用甲酸漿葉包覆豬肉、芋頭粉，再以水煮熟給族人食用，分享其喜悅，有祝福之意思，可以說是原住民特有的喜餅，沒有豬肉時，就用其他食材肉類蔬果替代。";
}
.foodTitle4::before
{
    font-family: GenJyuuGothic;
    content:"小米酒";
}
.foodContext4::before
{
    font-family: rttf;
    content:"是台灣原住民常見的傳統酒精飲料，通常用在各祭典上，代表豐收的訊息。台灣原住民只有魯凱族與排灣族兩族用赤藜這種植物來發酵，先將小米敲打成粉狀後加入酵母，以香蕉葉包著先蒸熟，再放入甕中，待3到4個月即可發酵為小米酒。排灣族人在飲用小米酒會先右腳用力跺地一次，表示敬山神。";
}
.foodTitle5::before
{
    font-family: GenJyuuGothic;
    content:"石板烤肉";
}
.foodContext5::before
{
    font-family: rttf;
    content:"石板屋是魯凱族和排灣族的傳統建築物，具有冬暖夏涼的特性，由於石板具有保溫作用。原住民往往將石板燒熱，將獵捕的山豬、鹿或山羊的肉處理過後，切塊加鹽巴，先簡單的煮燙後，放於棚架上以火烘烤至乾，或置於石板上火烤至熟，相當有一番特殊風味。";

}

/*服飾*/
.apparelBigTitleF::before
{
    font-family: GenJyuuGothic;
    content:"排灣族";
}
.apparelBigTitleB::before
{
    font-family: GenJyuuGothic;
    content:"服飾";
}
.apparelBigContext::before
{
    font-family: rttf;
    content:"排灣族是個階級分明的族群，擁有頭目、貴族、勇士、平民的階級制度，貴族特權在衣飾文化上的表現非常鮮明，只有階級較高者才能享有使用某些紋飾、材質與飾品的特權";

}
.apparelSection1Title::before
{
    font-family: GenJyuuGothic;
    content:"服飾特色";

}
.apparelSection1Context::before
{
    font-family: rttf;
    content:"排灣族的盛裝與常服型制上基本是相同的，差別在於刺繡和夾織，盛裝時的穿著以刺繡各種紋飾的上衣、綁腿、長袍和手足套等；套褲則是以紅黃綠等顏色綴製而成。\A傳統服飾的用途在於慶典、禮祀、婚禮穿著，有明顯貴族平民之分別，傳統的樣式皆以綴珠繡，約需 一、二年完成，穿起來較重，而現代的大多以十字繡取代，完成時間短，穿起來輕便。豹皮背心只有貴族階級在節慶或重大會議場合才能穿著。除此之外，衣飾也與宗教信仰或風俗有關。排灣族的服飾在臺灣原住民之中可以算是最華麗的";
 
}
.apparelSection2Title::before
{
    font-family: GenJyuuGothic;
    content:"祭奠頭飾";

}
.apparelSection2Context::before
{
    font-family: rttf;
    content:"排灣族盛裝時，而女性則有花冠、頭巾、耳飾、頸飾、琉璃珠頸鍊、珠腕環、臂環、長禮袍、女裙、腰帶、綁腿、肩飾串等，日常穿著，女性穿著頭巾、長袍、腰裙、綁腿、手套、網帶、皮雨衣、布袋等。女性頭上纏繞有頭巾，前額點綴著植物花葉，上半身穿長袖長衣，下半身圍一條或兩條單片式長裙，小腿再裹上一對護腳布。";

}
.apparelSection3Title::before
{
    font-family: GenJyuuGothic;
    content:"排灣族紋手";

}
.apparelSection3Context::before
{
    font-family: rttf;
    content:"在排灣語里，紋手和紋身都叫 ‘iveci’e（依福吉）；紋手的是女孩，紋身的是男孩。對於傳統的排灣族人來說，能紋手的女孩，絕對是貴族的後裔，或是受榮耀的平民；這位女孩，必定是能編織，能刺繡，能處理各種家務事，也善農務。這麼棒的女孩，才有資格在手上，刺上這麼美麗的花紋。於是，人形紋（Pinaru Cau Cau）是祖先，象徵多子多孫；蜘蛛紋（Pinaru CaCagal），象徵靈巧；蜈蚣紋（Pinaru Laliga），象徵能供養子女的能力。最後的百步蛇花紋，象徵了女孩尊貴的身世。除此之外，孫江萬花 vuvu（排灣語，指祖孫輩）的太陽紋，更是頭目家專用的手紋，象徵著頭目為太陽之子的神話，代表排灣族的頭目擁有了部落的山川、河流，與房舍。";

}

.apparelSection4Title::before
{
    font-family: GenJyuuGothic;
    content:"女子服飾";

}
.apparelSection4Context::before
{
    font-family: rttf;
    content:"女性服飾，平常服有頭帕、上衣（後來受到漢人影響，長裙開襟，窄袖。）、腰裙 、綁腿、手套。盛裝與常服在形式上相同，只是有刺繡和夾織而成，如花頭帕。刺繡長衣、綁腿、刺繡的長袍和手足套。女子上身穿著右襟圓領長袖連身長衣，下身著一或二件單片式長裙，小腿上綁縛一對護腳布。排灣族女子上身穿著之右襟圓領長袖長衣，乃仿自漢人婦女大襟衫的型式。";

}

 /*語言*/
 .languageBigTitleF::before
 {
     font-family: GenJyuuGothic;
     content:"排灣族";
 }
 .languageBigTitleB::before
 {
    font-family: GenJyuuGothic;
    content:" 語言";
 }
 .languageBigContext::before
 {
     font-family: rttf;
     content:"語言學分類上屬於南島語系的排灣語群，同時也是台灣的國家語言，以拉丁文字書寫。且是全南島語系中最接近原始南島語的語言。";
 }
 .languageTitle1::before
 {
     font-family: rttf;
     content:" 排灣語歷史";
 }
 .languageContext1::before
 {
     font-family: rttf;
     content:"排灣語是南島語系中最古老和通用時間最長的語言之一，其歷史悠久，曾為南臺灣最通行的語言之一，古時不只排灣人使用，甚至許多西拉雅、魯凱族、馬卡道人、屏東地區漢人等南部地區人民，都可以排灣語溝通。";
 }
 .languageTitle2::before
 {
     font-family: GenJyuuGothic;
     content:"排灣語分佈";
 }
 .languageContext2::before
 {
     font-family: rttf;
     content:"漢人遷台之前的台灣南島語言分布圖（ Blust, 1999).東台灣蘭嶼島（深紅色）表示為使用馬來-玻里尼西亞語族巴丹語群達悟語的區域。排灣語依詞彙使用可分為分為文言排灣語（pinakaiyatjaladj）和白話排灣語（kakaian），在日本時代及其之前，使用的大多是文言排灣語，而文言排灣語至今則只見於經語或古謠，不常用於日常生活對話。白話排灣語則是現今較常使用的，其構句之單字較簡單，在字面上即能一目瞭然。";
 }
 .languageTitle3::before
 {
     font-family: GenJyuuGothic;
     content:"語音系統與結構";
 }
 .languageContext3::before
 {
     font-family: rttf;
     content:"排灣語的音系之音位大都使用適當的Unicode符號來標示。在台灣南島語的書寫系統的訂定上，元輔音之音系表原則上都是先「發音部位」（橫列）、後「發音方法」（縱列）、再考量「清濁音」，來訂定其音系之音位架構。在語法的分類上台灣南島語並不同於一般的分析語或其它綜合語裡的動詞、名詞、形容詞、介詞和副詞等之基本詞類分類。比如台灣南島語裡普遍沒有副詞，而副詞的概念一般以動詞方式呈現、可稱之為「副動詞」，類之於俄語裡的副動詞。排灣語法分類是將基礎的語法之詞類、詞綴、字詞結構及分類法，對比分析語等之詞類分類法加以條析判別。";
 }
 .languageTitle4::before
 {
     font-family: GenJyuuGothic;
     content:"排灣語繪本";
 }
 .languageContext4::before
 {
     font-family: rttf;
     content:"透過現代的繪畫與設計風格與原住民文化結合，重新繪製繪本故事書，繪本內將有原住民部落的介紹，文化的饗宴，帶領大家一起去尋找台灣寶島的生活達人，接著，我們就會來到「族群萬花筒」這個原住民的文化樂園，置身其中，你可以看到泰雅族的紋面、賽夏族的矮靈際、布農族的八部合音、邵族的白鹿傳說、鄒族的男子集會所、排灣族的階級制度、魯凱族的雲豹傳人、卑南族的少年集會所、阿美族的豐年祭、阿美族的飛魚祭、噶瑪蘭族的香蕉織布、大魯閣族的祖先遺訓、賽德克族的彩虹橋與撒奇萊雅族的火神祭等等，這些都是我們臺灣原住民土生土長的奇妙文化與生活智慧。";
 }
 .languageTitle5::before
 {
     font-family: GenJyuuGothic;
     content:"排灣翻譯熊";
 }
 .languageContext5::before
 {
     font-family: rttf;
     content:"石板屋是魯凱族和排灣族的傳統建築物，具有冬暖夏涼的特性，由於石板具有保溫作用。原住民往往將石板燒熱，將獵捕的山豬、鹿或山羊的肉處理過後，切塊加鹽巴，先簡單的煮燙後，放於棚架上以火烘烤至乾，或置於石板上火烤至熟，相當有一番特殊風味。";
 
 }

/*部落*/
.locationBigTitleF::before
{
    font-family: GenJyuuGothic;
    content:"排灣族";
}
.locationBigTitleB::before
{
    font-family: GenJyuuGothic;
    content:" 分布地點";
}
.locationTitle1::before
{
    font-family: GenJyuuGothic;
    content:"部落分布";
}
.locationContext1::before
{
    font-family: rttf;
    content:"排灣族以台灣南部為活動區域，北起大武山地，南達恆春，西自隘寮，東到太麻里以南海岸。分為 Raval 亞族和 vutsul 亞族；vutsul 群又分為 paumaumaq 群（北排灣族）、chaoboobol 群和 parilario 群（南排灣族）、paqaroqaro 群（東部排灣）。";
}
.locationContext2::before
{
    font-family: rttf;
    content:"依據現行的行政區域劃分，排灣族分布在屏東和台東的 12 個鄉和台東市一個里，分別是：屏東縣的三地門、瑪家、泰武、來義、春日、獅子、牡丹和滿州八個鄉，台東縣的金峰、達仁、大武、太麻里四個鄉，以及台東市的新園里，其中以屏東來義鄉分布最多排灣族人。總人口數約八萬七千多人。";
}
.locationContext3::before
{
    font-family: rttf;
    content:"排灣族分為兩大亞族：Raval 和 Butsul 。除了最北方的 Raval 亞族認為祖先發源於大武山山脈的大母母山峰之外，其他各部落大都將大武山 kavulungan 視為文化的發祥地。後來排灣族人逐漸從北大武山往南遷徙，有的則繼續南遷至台灣的最南端，由於地域上的不同，在文化與生活習性上也呈現不同面貌。";
}
.locationContext4::before
{
    font-family: rttf;
    content:"Raval 亞族因三面比鄰霧台鄉的魯凱族，多與魯凱族通婚，文化、風俗、習慣皆深受魯凱族的影響；繼承制度與魯凱族相同，採長男繼承制，有別於 Butsul 不分男女的長嗣繼承。排灣族與魯凱族的服飾花紋和頭飾都很相似，使得外人常把兩族人混為一談。 Butsul 亞族佔排灣族的多數，大致可分為東西南北四個區域性群體。";
}

/* Craft */
.craftBigTitleF::before
{
    font-family: GenJyuuGothic;
    content:"排灣族";
}
.craftBigTitleB::before
{
    font-family: GenJyuuGothic;
    content:" 工藝";
}
.craftBigContext::before
{
    font-family: rttf;
    content:"排灣族是個階級分明的族群，擁有頭目、貴族、勇士、平民的階級制度，\A貴族特權在衣飾文化上的表現非常鮮明，只有階級較高者才能享有使用某些紋飾、材質與飾品的特權";

}
.craftSection1Title::before
{
    font-family: GenJyuuGothic;
    content:"排灣三寶";

}
.craftSection1Context::before
{
    font-family: rttf;
    content:"琉璃珠、甕、青銅刀是三者並稱排灣三寶，對排灣族人來說，這三樣東西代表了一個人的階級、地位及財富。在過去，一顆琉璃珠就可以把一個女孩子娶回家，這就代表了排灣三寶在排灣族傳統文化中的重要性。";
 
}
.craftSection2Title::before
{
    font-family: GenJyuuGothic;
    content:"排灣琉璃珠";

}
.craftSection2Context::before
{
    font-family: rttf;
    content:"琉璃珠的來源與製法已不可考，流傳世代的古琉璃珠是排灣文化中珍貴的寶藏。這些琉璃珠外表不盡相同，有的色彩繽紛，有的溫柔樸實，而這每一顆琉璃珠裡都蘊含了一個美麗傳說。排灣族人用琉璃珠記載祖先奮鬥的歷史，與天地共生的智慧，和每一段浪漫淒美的愛情故事，還有祖先的期盼和祝福。";

}
.craftSection3Title::before
{
    font-family: GenJyuuGothic;
    content:"排灣陶壺";

}
.craftSection3Context::before
{
    font-family: rttf;
    content:"通常陶壺為頭目貴族所珍藏，數量的多寡與好壞，象徵頭目家族的財富與地位。在排灣族傳統社會裡僅僅只有貴族才可擁有陶壺，但隨著時代的進步，現今的陶壺以非貴族的專利了。陶壺依功能可分為：粹祭祀用的祭壺或古陶壺，作為聘禮並浮貼或陰刻等紋樣的古陶壺，釀酒用的陶壺，可放置糧食、種子、醃肉、盛水用的陶壺前二類價值相當高，因而以「dredredan」尊稱作為祭祀或者是聘禮用的陶壺。陶壺與甕的地位不同，甕僅是用來裝成物品的器具，並無其他意義。    ";

}

.craftSection4Title::before
{
    font-family: GenJyuuGothic;
    content:"排灣青銅刀";

}
.craftSection4Context::before
{
    font-family: rttf;
    content:"青銅刀，排灣語稱之為「 tikuzan ni tagaraus 」，為排灣族三寶之一。青銅刀一般分為大型和小型，大型雙刃的青銅刀，排灣族語意為「神的拐杖」，意為神的器物。大型的青銅刀刃長約30至45公分，平日供放在部落的祭祀小屋內。小型的單刃青銅刀刃長約15公分，是巫師占卜祭禱作法時的法器之一。";

}

.craftSection5Title::before
{
    font-family: GenJyuuGothic;
    content:"排灣琉璃珠杯";

}
.craftSection5Context::before
{
    font-family: rttf;
    content:"創意延伸排灣族文化的共飲連杯概念，轉化成時尚個性噴砂玻璃杯，可以任意挑選組合喜歡的部落圖騰，而且「單口杯」是只有頭目才能使用的喔！";

}



