.indexBigTitleF::before
{
    font-family: GenJyuuGothic;
    content:"台灣";
}
.indexBigTitleM::before
{
    font-family: GenJyuuGothic;
    content:"原住民";
}
.indexBigTitleB::before
{
    font-family: GenJyuuGothic;
    content:"圖鑑";
}
.indexBigContext::before
{
    font-family: rttf;
    content:"祭奉百步蛇的台灣原住民";
    white-space: pre;
}
.indexBigButton::before
{
    font-family: rttf;
    content:"開始使用";
}
.indexTitle::before
{
    font-family: rttf;
    content:"排灣族";
}
.indexTitleFood::before
{
    font-family: rttf;
    content:" 食物";
}
.indexContextFood::before
{
    font-family: rttf;
    content:"排灣族的飲食文化多元，也包含了許多美食，從古至今一直深受族人的喜愛。進一步了解其飲食的特色、原料與製作過程，認識排灣族特有的美味。";
}
.indexTitleApparel::before
{
    font-family: rttf;
    content:" 服飾";
}
.indexContextApparel::before
{
    font-family: rttf;
    content:"引人注目的華麗服飾，一針一線繡上去的琉璃珠、貼布繡線。讓我們欣賞排灣族奪目的服裝與飾品以及領悟其中的意涵。";
}
.indexTitleLanguage::before
{
    font-family: rttf;
    content:" 語言";
}
.indexContextLanguage::before
{
    font-family: rttf;
    content:"語音輸入排灣族語，透過翻譯功能翻譯成中文，讓人方便學習排灣族這個美麗的語言。";
}
.indexTitleLocation::before
{
    font-family: rttf;
    content:" 部落";
}
.indexContextLocation::before
{
    font-family: rttf;
    content:"查詢你要知道的部落所在位置，用圖示去了解排灣族各部落分布於台灣何處。";
}
.indexTitleCreation::before
{
    font-family: rttf;
    content:" 工藝";
}
.indexContextCreation::before
{
    font-family: rttf;
    content:"排灣族的工藝顯現了他們創造力與凸顯自我美感的獨特性。從他們的創作去發現排灣族的美以及所擁有的細膩心。";
}

.indexAuboutTitle::before
{
    font-family: rttf;
    content:"關於我們";
}
.indexAuboutContext1::before
{
    font-family: rttf;
    content:"台灣排灣族圖鑑是由逢甲大學三年紀的學生所建立。";
}
.indexAuboutContext2::before
{
    font-family: rttf;
    content:"目的是讓外國旅客能夠更簡易明快的了解台灣排灣族的服飾，食物，文化與工藝，並且也能找尋與您最靠近的排灣族部落。";
}

.indexContectTitle::before
{
    font-family: GenJyuuGothic;
    content:"聯絡我們";
}
.indexContectContext1::before
{
    font-family: rttf;
    content:"如果在網頁使用上有甚麼問題，或者是有甚麼修改意見，歡迎您聯繫我們！";
}
.indexContectContext2::before
{
    font-family: rttf;
    content:"讓我們能提供更優質的網頁給您們。";
}
.indexContectEmail::before
{
    font-family: GenJyuuGothic;
    content:"信箱";
}
.indexContectPhone::before
{
    font-family: GenJyuuGothic;
    content:"電話";
}
.indexContectAddr::before
{
    font-family: GenJyuuGothic;
    content:"地址";
}

.foodBigTitleF::before
{
    font-family: GenJyuuGothic;
    content:"排灣族";
}
.foodBigTitleB::before
{
    font-family: GenJyuuGothic;
    content:" 食物";
}
.foodBigContext::before
{
    font-family: rttf;
    content:"排灣族的生計以山田燒墾為主，兼事狩獵、畜養、與山溪捕魚。\A食材的多元，使他們有了更多的美食能盡情享受。";

}
.foodTitle1::before
{
    font-family: rttf;
    content:" 飲食特色";
}
.foodContext1::before
{
    font-family: rttf;
    content:"排灣族日常生活的主食有小米飯、小米粥、小米飯糰、米飯等，而副食品則有野菜粥、烘煮芋、烘煮甘藷等，也會製作類似點心類糯米糕及小米糕。而在肉類的選擇上，主要以鹿肉、羊肉及山豬肉為主，輔以山溪魚類、蝦類與蟹類等。排灣族的調味品比較單純，有鹽、香薑、辣椒、脂油與蜂蜜等。";
}
.foodTitle2::before
{
    font-family: GenJyuuGothic;
    content:"在地茄子米酒烤";
}
.foodContext2::before
{
    font-family: rttf;
    content:"阿拉聒聒 滴滴束衣搭 巴西估低勒單騎 阿娜 納氣督哩";
}
.foodTitle3::before
{
    font-family: GenJyuuGothic;
    content:"祈納福 cinavu";
}
.foodContext3::before
{
    font-family: rttf;
    content:"阿拉聒聒 滴滴束衣搭 巴西估低勒單騎 阿娜 納氣督哩";
}
.foodTitle4::before
{
    font-family: GenJyuuGothic;
    content:"烤馬糞海膽";
}
.foodContext4::before
{
    font-family: rttf;
    content:"阿拉聒聒 滴滴束衣搭 巴西估低勒單騎 阿娜 納氣督哩";
}
.foodTitle5::before
{
    font-family: GenJyuuGothic;
    content:"石板烤肉";
}
.foodContext5::before
{
    font-family: rttf;
    content:"阿拉聒聒 滴滴束衣搭 巴西估低勒單騎 阿娜 納氣督哩";

}

.apparelBigTitleF::before
{
    font-family: GenJyuuGothic;
    content:"排灣族";
}
.apparelBigTitleB::before
{
    font-family: GenJyuuGothic;
    content:"服飾";
}
.apparelBigContext::before
{
    font-family: rttf;
    content:"排灣族是個階級分明的族群，擁有頭目、貴族、勇士、平民的階級制度，\A貴族特權在衣飾文化上的表現非常鮮明，只有階級較高者才能享有使用某些紋飾、材質與飾品的特權";

}
.apparelSection1Title::before
{
    font-family: GenJyuuGothic;
    content:"服飾特色";

}
.apparelSection1Context::before
{
    font-family: rttf;
    content:"排灣族的盛裝與常服型制上基本是相同的，差別在於刺繡和夾織，盛裝時的穿著以刺繡各種紋飾的上衣、綁腿、長袍和手足套等；套褲則是以紅黃綠等顏色綴製而成。\A傳統服飾的用途在於慶典、禮祀、婚禮穿著，有明顯貴族平民之分別，傳統的樣式皆以綴珠繡，約需 一、二年完成，穿起來較重，而現代的大多以十字繡取代，完成時間短，穿起來輕便。豹皮背心只有貴族階級在節慶或重大會議場合才能穿著。除此之外，衣飾也與宗教信仰或風俗有關。排灣族的服飾在臺灣原住民之中可以算是最華麗的";
 
}
.apparelSection2Title::before
{
    font-family: GenJyuuGothic;
    content:"祭奠頭飾";

}
.apparelSection2Context::before
{
    font-family: rttf;
    content:"排灣族盛裝時，而女性則有花冠、頭巾、耳飾、頸飾、琉璃珠頸鍊、珠腕環、臂環、長禮袍、女裙、腰帶、綁腿、肩飾串等，日常穿著，女性穿著頭巾、長袍、腰裙、綁腿、手套、網帶、皮雨衣、布袋等。女性頭上纏繞有頭巾，前額點綴著植物花葉，上半身穿長袖長衣，下半身圍一條或兩條單片式長裙，小腿再裹上一對護腳布。";

}
.apparelSection3Title::before
{
    font-family: GenJyuuGothic;
    content:"排灣族紋手";

}
.apparelSection3Context::before
{
    font-family: rttf;
    content:"在排灣語里，紋手和紋身都叫 ‘iveci’e（依福吉）；紋手的是女孩，紋身的是男孩。對於傳統的排灣族人來說，能紋手的女孩，絕對是貴族的後裔，或是受榮耀的平民；這位女孩，必定是能編織，能刺繡，能處理各種家務事，也善農務。這麼棒的女孩，才有資格在手上，刺上這麼美麗的花紋。於是，人形紋（Pinaru Cau Cau）是祖先，象徵多子多孫；蜘蛛紋（Pinaru CaCagal），象徵靈巧；蜈蚣紋（Pinaru Laliga），象徵能供養子女的能力。最後的百步蛇花紋，象徵了女孩尊貴的身世。除此之外，孫江萬花 vuvu（排灣語，指祖孫輩）的太陽紋，更是頭目家專用的手紋，象徵著頭目為太陽之子的神話，代表排灣族的頭目擁有了部落的山川、河流，與房舍。";

}

.apparelSection4Title::before
{
    font-family: GenJyuuGothic;
    content:"女子服飾";

}
.apparelSection4Context::before
{
    font-family: rttf;
    content:"女性服飾，平常服有頭帕、上衣（後來受到漢人影響，長裙開襟，窄袖。）、腰裙 、綁腿、手套。盛裝與常服在形式上相同，只是有刺繡和夾織而成，如花頭帕。刺繡長衣、綁腿、刺繡的長袍和手足套。女子上身穿著右襟圓領長袖連身長衣，下身著一或二件單片式長裙，小腿上綁縛一對護腳布。排灣族女子上身穿著之右襟圓領長袖長衣，乃仿自漢人婦女大襟衫的型式。";

}

.languageButton::before
{
    content:"English";
}





/* Craft */
.craftBigTitleF::before
{
    font-family: GenJyuuGothic;
    content:"排灣族";
}
.craftBigTitleB::before
{
    font-family: GenJyuuGothic;
    content:" 工藝";
}
.craftBigContext::before
{
    font-family: rttf;
    content:"排灣族是個階級分明的族群，擁有頭目、貴族、勇士、平民的階級制度，\A貴族特權在衣飾文化上的表現非常鮮明，只有階級較高者才能享有使用某些紋飾、材質與飾品的特權";

}
.craftSection1Title::before
{
    font-family: GenJyuuGothic;
    content:"排灣三寶";

}
.craftSection1Context::before
{
    font-family: rttf;
    content:"琉璃珠、甕、青銅刀是三者並稱排灣三寶，對排灣族人來說，這三樣東西代表了一個人的階級、地位及財富。在過去，一顆琉璃珠就可以把一個女孩子娶回家，這就代表了排灣三寶在排灣族傳統文化中的重要性。";
 
}
.craftSection2Title::before
{
    font-family: GenJyuuGothic;
    content:"排灣琉璃珠";

}
.craftSection2Context::before
{
    font-family: rttf;
    content:"琉璃珠的來源與製法已不可考，流傳世代的古琉璃珠是排灣文化中珍貴的寶藏。這些琉璃珠外表不盡相同，有的色彩繽紛，有的溫柔樸實，而這每一顆琉璃珠裡都蘊含了一個美麗傳說。排灣族人用琉璃珠記載祖先奮鬥的歷史，與天地共生的智慧，和每一段浪漫淒美的愛情故事，還有祖先的期盼和祝福。";

}
.craftSection3Title::before
{
    font-family: GenJyuuGothic;
    content:"排灣族紋手";

}
.craftSection3Context::before
{
    font-family: rttf;
    content:"在排灣語里，紋手和紋身都叫 ‘iveci’e（依福吉）；紋手的是女孩，紋身的是男孩。對於傳統的排灣族人來說，能紋手的女孩，絕對是貴族的後裔，或是受榮耀的平民；這位女孩，必定是能編織，能刺繡，能處理各種家務事，也善農務。這麼棒的女孩，才有資格在手上，刺上這麼美麗的花紋。於是，人形紋（Pinaru Cau Cau）是祖先，象徵多子多孫；蜘蛛紋（Pinaru CaCagal），象徵靈巧；蜈蚣紋（Pinaru Laliga），象徵能供養子女的能力。最後的百步蛇花紋，象徵了女孩尊貴的身世。除此之外，孫江萬花 vuvu（排灣語，指祖孫輩）的太陽紋，更是頭目家專用的手紋，象徵著頭目為太陽之子的神話，代表排灣族的頭目擁有了部落的山川、河流，與房舍。";

}

.craftSection4Title::before
{
    font-family: GenJyuuGothic;
    content:"女子服飾";

}
.craftSection4Context::before
{
    font-family: rttf;
    content:"女性服飾，平常服有頭帕、上衣（後來受到漢人影響，長裙開襟，窄袖。）、腰裙 、綁腿、手套。盛裝與常服在形式上相同，只是有刺繡和夾織而成，如花頭帕。刺繡長衣、綁腿、刺繡的長袍和手足套。女子上身穿著右襟圓領長袖連身長衣，下身著一或二件單片式長裙，小腿上綁縛一對護腳布。排灣族女子上身穿著之右襟圓領長袖長衣，乃仿自漢人婦女大襟衫的型式。";

}
